ACCEPT_KEYWORDS="amd64"
ABI_X86="64 32"

CC="clang"
CXX="clang++"
AR="llvm-ar"
NM="llvm-nm"
RANLIB="llvm-ranlib"

# I use the hardened profile, but with changing to Clang we need to make
# sure these flags get used.
COMMON_FLAGS="-O2 -march=native -pipe -flto=thin -fstack-protector-all -fomit-frame-pointer -D_GLIBCXX_ASSERTIONS -D_FORTIFY_SOURCE=2"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
MAKEOPTS="-j10 -l10"

# Same thing with the COMMON_FLAGS above
# For some packages I use the Mold linker: https://github.com/rui314/mold
LDFLAGS="-fuse-ld=lld -rtlib=compiler-rt -unwindlib=libunwind -Wl,-O2 -Wl,-pie -Wl,-z,relro -Wl,-z,now -Wl,--as-needed"
LLVM_ISA=1
LLVM_TARGETS="AMDGPU BPF"

EMERGE_DEFAULT_OPTS="--jobs=10"
PORTAGE_NICENESS="19"
PORTAGE_IONICE_COMMAND="/usr/local/bin/io-priority \${PID}"
PORTAGE_TMPDIR="/var/tmp"

FEATURES="parallel-fetch parallel-install cgroup downgrade-backup collision-protect strict sandbox ipc-sandbox mount-sandbox network-sandbox pid-sandbox usersandbox"
USE="
clang hardened cet vtv lto acl audit apparmor seccomp caps filecaps
verify-sig elogind acpi aac cxx dbus dga emacs openrc syslog udev
threads wifi ffmpeg fontconfig gstreamer drm vaapi vdpau vulkan
X xinerama -systemd -gnome-online-accounts -avahi -kde -consolekit
-ldap -cdda -dvd -nls -ipv6 -networkmanager -sctp -geolocation
-weather -gtk-doc -qt4 -qt3support -ios -ipod -quicktime -smartcard
"
ACCEPT_LICENSE="*"
VIDEO_CARDS="amdgpu radeonsi"
